.text-blue {
  color: #0d6efd !important;
}

.bg-blue {
  background-color: #0d6efd !important;
}

.text-indigo {
  color: #6610f2 !important;
}

.bg-indigo {
  background-color: #6610f2 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.text-pink {
  color: #d63384 !important;
}

.bg-pink {
  background-color: #d63384 !important;
}

.text-red {
  color: #dc3545 !important;
}

.bg-red {
  background-color: #dc3545 !important;
}

.text-orange {
  color: #fd7e14 !important;
}

.bg-orange {
  background-color: #fd7e14 !important;
}

.text-yellow {
  color: #ffc107 !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}

.text-green {
  color: #198754 !important;
}

.bg-green {
  background-color: #198754 !important;
}

.text-teal {
  color: #20c997 !important;
}

.bg-teal {
  background-color: #20c997 !important;
}

.text-cyan {
  color: #0dcaf0 !important;
}

.bg-cyan {
  background-color: #0dcaf0 !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-gray {
  color: #6c757d !important;
}

.bg-gray {
  background-color: #6c757d !important;
}

.text-gray-dark {
  color: #343a40 !important;
}

.bg-gray-dark {
  background-color: #343a40 !important;
}